<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="service-heading">Ratan Sunder Parai</h4>
                    <p class="text-muted">Ratan Sunder Parai is a Senior Software Engineer at SELISE rockin' software.</p>
                </div>
                <div class="col-md-6 team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="service-heading">Mili Das</h4>
                    <p class="text-muted">Mili Das is a Software Engineer at Leads Corporation Ltd.</p>
                </div>
            </div>
        </div>
    </section>